# условие перенаправления. Если запрос не идет на конкретный файл
RewriteCond %{REQUEST_FILENAME} !-f
# Или на конкретную директорию(папку)
RewriteCond %{REQUEST_FILENAME} !-d
# то мы должны использовать это правило . добавим два флага L-last(последнее правило) и QSA(query string append )-если будут дополнительные 
# get-параметры, то они не должны отбрасываться , они должны дополняться к существующему запросу
RewriteRule (.*) index.php?$1 [L,QSA]